# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT_ID.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_ANON_KEY_HERE

# Telegram Bot (opsional, untuk laporan otomatis)
TELEGRAM_BOT_TOKEN=8522436566:AAFRl4MW-_EpAQpj8Bm40KvMu6EUVT6zw1E
TELEGRAM_CHAT_ID=-7405339613

# Keamanan Cron (bikin password sendiri, bebas)
CRON_SECRET=bikin_password_bebas_disini
